body{
font: 15/1,5, helvetica, arial, sans-serif;
paddng: 0;
margin: 0;
background-color: #f4f4f4;
}

.container{
  width: 80%;
  margin: auto;
  overflow: hidden;
}

header ul{
margin: 0;
padding: 0;
}

/* header */
header{
background:#35424a;
color: #ffffff;
padding-top: 31px;
min-height: 70px;
border-bottom: #e8491d 3px solid;
}

/* text till länkar */
header a{
color: #ffffff;
text-decoration: none;
text-transform: uppercase;
font-size: 16px;
}

/* länkar */
header li{
float: left;
display: inline;
padding: 0 20px 0 20px;
  }

header #branding{
  float: left;
}

header #branding h1{
margin: 0;
  }

  header nav{
    float: right;
    margin-top: 10px;
  }

header .highlight, header .current a{
  color: #e8491d;
  font-weight: bold;
}

header a:hover{
color:#cccccc;
font-weight: bold;
}

#showcase{
min-height: 400px;
background:url('img/showcase.jpg') no-repeat;
text-align: center;
color: #ffffff;
}

#showcase h1{
margin-top: 100px;
font-size: 50px;
margin-bottom: 10px;
}
#showcase p{
font-size: 20px;
}
#newsletter{
  padding: 15px;
  color: #ffffff;
  background: #35434a;
}
#newsletter h1{
  float: left;
}
#newsletter form{
float: right;
margin-top: 15px;
}
#boxes{
  margin-top: 20px;
}
#boxes .box{
float: left;
text-align: center;
width: 30%;
padding: 10px;
}
#boxes .box1{
  float: right;
  text-align: center;
  width: 30%;
  padding: 10px;
}
aside #aside{
  float: right;
  width: 30%;
  margin-top: 10px;
}

footer{
  padding: 20px;
  margin-top: 20px;
  color: #ffffff;
  background-color: #e8491d;
  text-align: center;
}
